p {
	color: green;
}

input{
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 3px 5px;
}

body {
	font-family: Arial;
}

h1, h2{
	color: darkgreen;
	font-variant: small-caps;
}


img.main-image{
	border: 2px solid #54C03F;
	border-radius: 50%;
}

#main-header{
	background-color: #D1FAD2;
	padding: 10px;
}

a {
	color: darkgreen;
	font-weight: bold;
	text-decoration: none;
}